.menu-section {
  background-color: var(--lightBackgroundColor);
  color: var(--buttonDarkTextColor);
  padding-inline-end: 32px;
  padding-bottom: 32px;
}
.title-menu {
  text-transform: uppercase;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
}
table {
  text-align: left;
  font-family: 'Montserrat';
  line-height: 1.2;
  width: 100%;
}

table caption {
  text-align: left;
  padding: 8px 0;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
}

.collumn-head {
  width: 58%;
  font-weight: 500;
  font-size: 14px;
}
.collumn1 {
  padding-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
}
.collumn2,
.collumn3 {
  width: 86px;
  padding-left: 10px;
  font-weight: 300;
  font-size: 14px;
}
.collumn2 {
  padding-left: 20px;
}
.collumn3 {
  text-align: right;
  font-weight: 700;
}
.food-order-button {
  display: block;
  @extend .disabled-button;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: all var(--transition);

  .food-order-button:hover,
  .food-order-button:focus,
  .food-order-button:active {
    @extend .hover-and-clik-button;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .expand {
    width: 430px;
  }
}
@media (min-width: 1024px) {
  .menu-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .tables-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    height: 630px;
  }
  table {
    width: 412px;
  }
  .collumn-head {
    width: 54.5%;
  }
  .collumn2,
  .collumn3 {
    width: 23%;
  }
  .collumn2 {
    padding-left: 35px;
  }
}
@media (min-width: 1280px) {
  table {
    width: 485px;
  }
  .collumn2,
  .collumn3 {
    font-size: 16px;
  }
}
