.about__right .about-text-block {
  margin-left: auto;
}
.about__right .section__sub-title,
.about__right .title {
  text-align: end;
}
.about__right .image-thumb1 {
  margin: 0 auto 32px 0;
}
.about__right .about__description {
  flex-direction: row-reverse;
}
.about__right .slider-wrapper {
  margin-left: -200px;
}
.about__right .slider-buttons-block {
  justify-content: end;
  margin-right: 217px;
}
@media (min-width: 1024px) {
  .about__right .about-hotel-text-block {
    width: 419px;
  }
  .about__right .image-thumb1 {
    left: 112px;
    right: auto;
  }
  .about__right .slider-wrapper {
    margin: -28px auto 0 0;
  }
  .about__right .slider-buttons-block {
    justify-content: start;
  }
}
@media (min-width: 1280px) {
  .about__right .image-thumb1 {
    left: 180px;
  }
}
