.about {
  background-color: var(--lightBackgroundColor);
  position: relative;
  font-size: 12px;
  overflow: hidden;
}
.about-text-block {
  width: 258px;
  padding-top: 16px;
  padding-bottom: 28px;
}
.about .section__sub-title {
  margin-bottom: 12px;
}
.about title {
  margin-bottom: 14px;
}
.about .image-thumb1 {
  margin: 0 0 32px auto;
}
.about__description {
  display: flex;
  gap: 20px;
}
.description__text {
  margin-top: 70px;
  width: 163px;
}
.about .slider-wrapper {
  margin-left: 84px;
  margin-top: 32px;
  padding-bottom: 20px;
}

.about .slider-buttons-block {
  margin-left: 217px;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .about {
    position: relative;
    overflow: visible;
    font-size: 16px;
  }
  .about-text-block {
    width: 439px;
    padding-top: 120px;
    padding-bottom: 142px;
  }
  .about .section__sub-title {
    margin-bottom: 4px;
    font-size: 32px;
  }
  .about .title {
    font-size: 64px;
    margin-bottom: 24px;
  }
  .image-thumb1 {
    position: absolute;
    right: 112px;
    top: -32px;
    z-index: 10;
    margin-bottom: 0;
  }
  .about__description {
    gap: 48px;
  }
  .description__text {
    width: 312px;
    margin-top: 196px;
  }
  .about .slider-wrapper {
    padding-bottom: 32px;
    margin: -28px 0 0 auto;
  }

  .about .slider-buttons-block {
    justify-content: end;
    margin-top: 32px;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .about {
    font-size: 16px;
  }
  .about .title {
    margin-bottom: 24px;
  }
  .about-text-block {
    width: 518px;
    padding-top: 120px;
    padding-bottom: 162px;
  }
  .about__description {
    gap: 48px;
  }
  .image-thumb1 {
    right: 180px;
    top: -33px;
  }
  .description__text {
    width: 312px;
  }
  .about .slider-wrapper {
    padding-bottom: 50px;
  }
  .slider-buttons-block {
    margin-top: 36px;
  }
}
