.hotel-details {
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../../img/hotelDetails/main-hotel-ditails-mob-x.jpg);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/hotelDetails/main-hotel-ditails-mob-2x.jpg);
  }
}
.hotel-ditails-title-block {
  margin-right: auto;
  margin-left: 17px;
  padding-bottom: 48px;
  width: 243px;
  text-align: end;
  color: var(--darkSectionTitleColor);
}

.hotel-ditails-title-block .title {
  margin-bottom: 12px;
  text-align: end;
}
.hotel-details h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.hotel-details p {
  text-align: start;
  color: var(--darkSectionTextColor);
  font-size: 12px;
}
.hotel-details-slider-wrap {
  width: 568px;
  margin-bottom: 32px;
  margin-left: 25px;
}

.slider-buttons-block__hotel-details {
  display: flex;
  gap: 32px;
  fill: var(--darkSectionTitleColor);
  margin-right: auto;
  margin-top: 16px;
}
.hotel-details-button-block {
  color: currentColor;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  width: 236px;
  gap: 16px;
  border-color: var(--darkSectionTitleColor);
}

.hotel-details-button {
  width: 100%;
}
@media (min-width: 1024px) {
  .hotel-details {
    padding-top: 48px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/hotelDetails/main-hotel-ditails-tab-x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ),
        url(../../img/hotelDetails/main-hotel-ditails-tab-2x.jpg);
    }
  }
  .hotel-ditails-title-block {
    margin-left: 231px;
    padding-bottom: 40px;
    width: 549px;
  }

  .hotel-ditails-title-block .title {
    margin-bottom: 16px;
    font-size: 64px;
  }
  .hotel-details h3 {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .hotel-details p {
    font-size: 16px;
  }

  .hotel-details-slider-wrap {
    /* flex: 1 664px; */
    width: 664px;
    /* width: 764px; */

    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
  }

  .hotel-details-button {
    width: 100%;
  }

  .slider-buttons-block__hotel-details {
    justify-content: end;
    margin-right: 0;
  }

  .hotel-details-button-block {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0px;
    width: 236px;
  }
}
@media (min-width: 1280px) {
  .hotel-details {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/hotelDetails/main-hotel-ditails-desk-x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ),
        url(../../img/hotelDetails/main-hotel-ditails-desk-2x.jpg);
    }
  }
  .hotel-ditails-title-block {
    margin-left: 191px;
    width: 595px;
  }

  .slider-and-buttons-wrap {
    gap: 32px;
  }
  .hotel-details-slider-wrap {
    margin-left: -33px;
    width: 874px;
  }
}
