.restaurant-details {
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.65) 100%
    ),
    url(../../img/restaurantDetails/main-rest-ditails-mob-x.jpg);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/restaurantDetails/main-rest-ditails-mob-2x.jpg);
  }
}
.rest-ditails-title-block {
  margin-left: auto;
  padding-bottom: 48px;
  width: 259px;
  color: var(--darkSectionTitleColor);
}

.rest-ditails-title-block .title {
  margin-bottom: 12px;
}
.restaurant-details h3 {
  margin-bottom: 20px;
  font-size: 20px;
}
.restaurant-details p {
  color: var(--darkSectionTextColor);
  font-size: 12px;
}
.rest-details-slider-wrap {
  width: 568px;
  margin-bottom: 32px;
  margin-left: 25px;
  /* margin-right: 25px; */
}
/* .slider-item-rest-details {
  margin-right: 20px;
  max-width: 274px;
  height: 270px;
} */
.slider-buttons-block__rest-details {
  display: flex;
  gap: 32px;
  fill: var(--darkSectionTitleColor);
  margin-right: auto;
  margin-top: 16px;
}
.rest-details-button-block {
  color: currentColor;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  width: 236px;
  gap: 16px;
  border-color: var(--darkSectionTitleColor);
}

.rest-details-button {
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurant-details {
    padding-top: 48px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/restaurantDetails/main-rest-ditails-tab-x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ),
        url(../../img/restaurantDetails/main-rest-ditails-tab-2x.jpg);
    }
  }
  .rest-ditails-title-block {
    margin-left: 231px;
    padding-bottom: 40px;
    width: 610px;
  }

  .rest-ditails-title-block .title {
    margin-bottom: 16px;
    font-size: 64px;
  }
  .restaurant-details h3 {
    margin-bottom: 8px;
    font-size: 24px;
  }
  .restaurant-details p {
    font-size: 16px;
  }
  .slider-and-buttons-wrap {
    display: flex;
    flex-direction: row-reverse;
    gap: 29px;
  }
  .rest-details-slider-wrap {
    width: 662px;
    margin-bottom: 0;
    padding-left: 0;
  }
  /* .slider-item-rest-details {
    margin-right: 34px;
    max-width: 270px;
  } */
  .rest-details-button {
    width: 100%;
  }

  .slider-buttons-block__rest-details {
    justify-content: start;
    margin-right: 0;
  }

  .rest-details-button-block {
    margin-top: 148px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0px;
    width: 236px;
  }
}
@media (min-width: 1280px) {
  .restaurant-details {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0.65) 100%
      ),
      url(../../img/restaurantDetails/main-rest-ditails-desk-x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.65) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ),
        url(../../img/restaurantDetails/main-rest-ditails-desk-2x.jpg);
    }
  }
  .rest-ditails-title-block {
    margin-left: 191px;
  }

  .slider-and-buttons-wrap {
    gap: 32px;
  }
  .rest-details-slider-wrap {
    width: 874px;
  }
  /* .slider-item-rest-details {
    margin-right: 86px;
  } */
}
