<section class="hotel-description">
  <div class="container hotel-description__container">
    <h2 class="hotel-description__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="hotel-description__title-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="hotel-description__list">
      <li class="hotel-description__item">
        <h3>ЗАГАЛЬНІ</h3>
        <div class="hotel-description__text">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="hotel-description__item">
        <h3>ВАННА КІМНАТА</h3>
        <div class="hotel-description__text">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </li>
      <li class="hotel-description__item">
        <h3>СПАЛЬНЯ</h3>
        <div class="hotel-description__text">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="hotel-description__item">
        <h3>КУХНЯ</h3>
        <div class="hotel-description__text">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint.
          </p>
        </div>
      </li>
      <li class="hotel-description__item">
        <h3>МЕДІА</h3>
        <div class="hotel-description__text">
          <p>
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit.
          </p>
        </div>
      </li>
    </ul>
    <div class="nav-wrap">
      <button class="button">ОФОРМИТИ БРОНЮВАННЯ</button>
      <a href="./hotel.html" class=""
        >Повернутися до перегляду номерів
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
