<section class="container hotel-room-hero">
  <div class="hero-slider__wrap">
    <div class="hero-slider">
      <div class="hero-slider__item">
        <picture>
          <source
            srcset="
              img/hotelRoom/room1-desk_x.jpg  1x,
              img/hotelRoom/room1-desk_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/hotelRoom/room1-tab_x.jpg  1x,
              img/hotelRoom/room1-tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/hotelRoom/room1-mob_x.jpg  1x,
              img/hotelRoom/room1-mob_2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-rest-img"
            class="image"
            src="img/hotelRoom/room1-mob-x.jpg"
            alt="Кімната номера"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
          />
        </picture>
      </div>
      <div class="hero-slider__item">
        <picture>
          <source
            srcset="
              img/hotelRoom/room2-desk_x.jpg  1x,
              img/hotelRoom/room2-desk_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/hotelRoom/room2-tab_x.jpg  1x,
              img/hotelRoom/room2-tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/hotelRoom/room2-mob_x.jpg  1x,
              img/hotelRoom/room2-mob_2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="image"
            src="img/hotelRoom/room2-mob-x.jpg"
            alt="Кімната номера"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
          />
        </picture>
      </div>
      <div class="hero-slider__item">
        <picture>
          <source
            srcset="
              img/hotelRoom/room3-desk_x.jpg  1x,
              img/hotelRoom/room3-desk_2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/hotelRoom/room3-tab_x.jpg  1x,
              img/hotelRoom/room3-tab_2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/hotelRoom/room3-mob_x.jpg  1x,
              img/hotelRoom/room3-mob_2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="image"
            src="img/hotelRoom/room1-mob-x.jpg"
            alt="Кімната номера"
            sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
          />
        </picture>
      </div>
    </div>
    <div class="slider-buttons">
      <button class="next-arrow__hero">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="prev-arrow__hero">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <a
      href="https://goo.gl/maps/C7ectr22jE6Sy3CU9"
      class="adress-map-link"
      target="_blank"
      rel="noopener noreferrer nofollow"
      ><span
        ><svg class="adress__icon" width="20px" height="20px">
          <use href="img/symbol-defs.svg#location"></use></svg></span
      >Україна, м. Полтава,<br />
      вул. Маршала Бірюзова, 15</a
    >
    <div class="hotel-room-hero__title-block">
      <h1>ДВОМІСНИЙ НОМЕР люкс</h1>
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <ul class="social-media social-media__room-hero">
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="button hotel-room-hero__button">Переглянути ціни</button>
  </div>
</section>
