.hotel-room-hero {
  position: relative;
  width: 414px;
  height: 740px;
}
.hero-slider__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero-slider__wrap::after {
  position: absolute;
  top: 0;
  content: '';
  width: 100%;
  height: 143px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.slider-buttons {
  position: absolute;
  top: 350px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  fill: var(--buttonTextColor);
}
.slider-buttons button {
  background: var(--buttonDarkTextColor);
  opacity: 65%;
}
.hotel-room-hero__title-block {
  position: absolute;
  top: 483px;
  left: 15px;
  width: 325px;
  color: var(--darkSectionTitleColor);
}
.hotel-room-hero__title-block h1 {
  margin-bottom: 12px;
  font-family: Times New Roman;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.05em;
}
.hotel-room-hero__title-block p {
  font-size: 12px;
}
.social-media__room-hero {
  position: absolute;
  display: flex;
  gap: 8px;
  flex-direction: column;
  bottom: 15px;
  left: 15px;
}
.hotel-room-hero__button {
  position: absolute;
  left: 109px;
  bottom: 40px;
  opacity: 65%;
}
.hotel-room-hero a {
  z-index: 40;
}
@media (min-width: 1024px) {
  .hotel-room-hero {
    width: 1024px;
    height: 718px;
  }
  .hero-slider__wrap::after {
    height: 100px;
  }
  .slider-buttons {
    top: 340px;
    padding-left: 47px;
    padding-right: 47px;
  }
  .hotel-room-hero__title-block {
    top: 468px;
    left: 47px;
    width: 509px;
  }
  .hotel-room-hero__title-block h1 {
    margin-bottom: 16px;
    font-size: 36px;
  }
  .hotel-room-hero__title-block p {
    padding-right: 109px;
    font-size: 16px;
  }
  .social-media__room-hero {
    gap: 20px;
    flex-direction: row-reverse;
    bottom: 36px;
    left: 372px;
  }
  .hotel-room-hero__button {
    left: 745px;
    bottom: 62px;
  }
  .hotel-room-hero .adress-map-link {
    left: 47px;
    bottom: 22px;
  }
}
@media (min-width: 1280px) {
  .hotel-room-hero {
    width: 1280px;
    height: 720px;
  }
  .hero-slider__wrap::after {
    height: 147px;
  }
  .slider-buttons {
    top: 320px;
    padding-left: 85px;
    padding-right: 85px;
  }
  .slider-buttons button {
    width: 40px;
    height: 40px;
  }
  .hotel-room-hero__title-block {
    top: 448px;
    left: 85px;
  }
  .social-media__room-hero {
    display: none;
  }
  .hotel-room-hero__button {
    left: 963px;
    bottom: 66px;
  }
  .hotel-room-hero .adress-map-link {
    left: 85px;
    bottom: 48px;
  }
}
