<footer class="container footer">
  <h2 class="title title__footer">mimino</h2>
  <div class="footer__links-wrap">
    <nav class="nav-block__footer">
      <ul class="nav-list__footer">
        <li class="nav-item__footer">
          <a href="./">Головна</a>
        </li>
        <li class="nav-item__footer">
          <a href="./restaurant.html">Ресторан</a>
        </li>
        <li class="nav-item__footer">
          <a href="./hotel.html">Готель</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media social-media__footer">
      <li class="social-item">
        <span class="link-name">Instagram</span>
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <span class="link-name">Facebook</span>
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <span class="link-name">Telegram</span>
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>
