<section class="container about double-lux double">
  <div class="about-text-block about-text-block__hotel">
    <p class="section__sub-title">Amet minim mollit non</p>
    <h2 class="title">MIMIHO</h2>
    <h3>ДВОМІСНИЙ НОМЕР люкс</h3>
    <p class="section__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="image-thumb1">
    <picture>
      <source
        srcset="img/hotel/double-desk_x.jpg 1x, img/hotel/double-desk_2x.jpg 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="img/hotel/double-tab_x.jpg 1x, img/hotel/double-tab_2x.jpg 2x"
        media="(min-width: 1024px)"
      />
      <source
        srcset="img/hotel/double-mob_x.jpg 1x, img/hotel/double-mob_2x.jpg 2x"
        media="(min-width: 414px)"
      />
      <img
        class="about-rest-img"
        class="image"
        src="img/hotel/double-lux-mob-x.jpg"
        alt="if'єр ресторану"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
      />
    </picture>
  </div>
  <div class="slider-wrapper">
    <div class="slider-double">
      <div class="slider-item">
        <img
          srcset="
            img/hotel/slider/double-lux-desk-1_x.jpg  1x,
            img/hotel/slider/double-lux-desk-1_2x.jpg 2x
          "
          src="img/hotel/slider/double-lux-1_x.jpg"
          alt="Ванна кімната"
        />
      </div>
      <div class="slider-item">
        <img
          srcset="
            img/hotel/slider/double-lux-desk-2_x.jpg  1x,
            img/hotel/slider/double-lux-desk-2_2x.jpg 2x
          "
          src="img/hotel/slider/double-lux-2_x.jpg"
          alt="Гостьова кімната"
        />
      </div>
      <div class="slider-item">
        <img
          srcset="
            img/hotel/slider/double-lux-desk-3_x.jpg  1x,
            img/hotel/slider/double-lux-desk-3_2x.jpg 2x
          "
          src="img/hotel/slider/double-lux-3_x.jpg"
          alt="Головна кімната"
        />
      </div>
      <div class="slider-item">
        <img
          srcset="
            img/hotel/slider/double-lux-desk-4_x.jpg  1x,
            img/hotel/slider/double-lux-desk-4_2x.jpg 2x
          "
          src="img/hotel/slider/double-lux-4_x.jpg"
          alt="Туалет"
        />
      </div>
    </div>
    <div class="slider-buttons-block">
      <button class="next-arrow__double">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="prev-arrow__double">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="button-block button-block__double-lux">
    <a href="./hotelRoom.html" class="button">Детальніше</a>
    <button class="button btn-js" data-modal="prices" type="button">
      Переглянути ціни
    </button>
  </div>
</section>
