<section class="container about-rest">
  <div class="about-rest-text-block">
    <p class="section__sub-title">Amet minim mollit non</p>
    <h2 class="title">MIMIHO</h2>
    <p class="section__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="image-thumb image-thumb-rest-interier">
    <picture>
      <source
        srcset="
          img/about-restaraunt/about-restaurant-desk-1-x.jpg  1x,
          img/about-restaraunt/about-restaurant-desk-1-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          img/about-restaraunt/about-restaurant-tab-1-x.jpg  1x,
          img/about-restaraunt/about-restaurant-tab-1-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          img/about-restaraunt/about-restaurant-mob-1-x.jpg  1x,
          img/about-restaraunt/about-restaurant-mob-1-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about-rest-img"
        class="image"
        src="img/about-restaraunt/about-restaurant-mob-1-x.jpg"
        alt="if'єр ресторану"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
      />
    </picture>
  </div>
  <div class="rest-hall-block">
    <div class="image-thumb">
      <picture>
        <source
          srcset="
            ../img/about-restaraunt/about-restaurant-desk-2-x.jpg  1x,
            ../img/about-restaraunt/about-restaurant-desk-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/about-restaraunt/about-restaurant-tab-2-x.jpg  1x,
            ../img/about-restaraunt/about-restaurant-tab-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ../img/about-restaraunt/about-restaurant-mob-2-x.jpg  1x,
            ../img/about-restaraunt/about-restaurant-mob-2-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="about-rest-img"
          class="image"
          src="../img/about-restaraunt/about-restaurant-mob-2-x.jpg"
          alt="Фотографія залу ресторана"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
        />
      </picture>
    </div>
    <p class="rest-hall-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="slider-wrapper">
    <div class="slider-about-rest">
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ../img/about-restaraunt/slider/dish1-desk-x.jpg  1x,
              ../img/about-restaraunt/slider/dish1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish1-tab-x.jpg  1x,
              ../img/about-restaraunt/slider/dish1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish1-mob-x.jpg  1x,
              ../img/about-restaraunt/slider/dish1-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-rest-img"
            class="image"
            src="../img/about-restaraunt/slider/dish1-tab-x.jpg"
            alt="Страва з оливками"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ../img/about-restaraunt/slider/dish2-desk-x.jpg  1x,
              ../img/about-restaraunt/slider/dish2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish2-tab-x.jpg  1x,
              ../img/about-restaraunt/slider/dish2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish2-mob-x.jpg  1x,
              ../img/about-restaraunt/slider/dish2-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-rest-img"
            class="image"
            src="../img/about-restaraunt/slider/dish2-tab-x.jpg"
            alt="Напої"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ../img/about-restaraunt/slider/dish3-desk-x.jpg  1x,
              ../img/about-restaraunt/slider/dish3-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish3-tab-x.jpg  1x,
              ../img/about-restaraunt/slider/dish3-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish3-mob-x.jpg  1x,
              ../img/about-restaraunt/slider/dish3-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-rest-img"
            class="image"
            src="../img/about-restaraunt/slider/dish3-tab-x.jpg"
            alt="Страва на сніданок"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              ../img/about-restaraunt/slider/dish4-desk-x.jpg  1x,
              ../img/about-restaraunt/slider/dish4-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish4-tab-x.jpg  1x,
              ../img/about-restaraunt/slider/dish4-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ../img/about-restaraunt/slider/dish4-mob-x.jpg  1x,
              ../img/about-restaraunt/slider/dish4-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-rest-img"
            class="image"
            src="../img/about-restaraunt/slider/dish1-tab-x.jpg"
            alt="Вишуканий десерт"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
    </div>
    <div class="slider-buttons-block">
      <button class="next-arrow__about-rest">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="../../img/symbol-defs.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="prev-arrow__about-rest">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="../../img/symbol-defs.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
