<section class="container about about__right about-hotel">
  <div class="about-text-block">
    <p class="section__sub-title">Amet minim mollit non</p>
    <h2 class="title">MIMIHO</h2>
    <p class="section__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="image-thumb1">
    <picture>
      <source
        srcset="
          img/aboutHotel/about-hotel-desk-1-x.jpg  1x,
          img/aboutHotel/about-hotel-desk-1-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          img/aboutHotel/about-hotel-tab-1-x.jpg  1x,
          img/aboutHotel/about-hotel-tab-1-2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <source
        srcset="
          img/aboutHotel/about-hotel-mob-1-x.jpg  1x,
          img/aboutHotel/about-hotel-mob-1-2x.jpg 2x
        "
        media="(min-width: 414px)"
      />
      <img
        class="about-hotel-img"
        class="image"
        src="img/aboutHotel/about-hotel-mob-1-x.jpg"
        alt="if'єр ресторану"
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
      />
    </picture>
  </div>
  <div class="about__description">
    <div class="image-thumb2">
      <picture>
        <source
          srcset="
            img/aboutHotel/about-hotel-desk-2-x.jpg  1x,
            img/aboutHotel/about-hotel-desk-2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            img/aboutHotel/about-hotel-tab-2-x.jpg  1x,
            img/aboutHotel/about-hotel-tab-2-2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            img/aboutHotel/about-hotel-mob-2-x.jpg  1x,
            img/aboutHotel/about-hotel-mob-2-2x.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          class="image about-hotel-img"
          src="img/aboutHotel/about-hotel-mob-2-x.jpg"
          alt="Фотографія залу ресторана"
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, (min-width: 414px) 244px, 80vw"
        />
      </picture>
    </div>
    <p class="description__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="slider-wrapper">
    <div class="slider-about-hotel">
      <div class="slider-item">
        <picture>
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-1-desk-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-1-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-1-tab-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-1-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-1-mob-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-1-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-hotel-img"
            class="image"
            src="img/aboutHotel/slider/hotel-services-1-tab-x.jpg"
            alt="сервіс готелю"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-2-desk-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-2-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-2-tab-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-2-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-2-mob-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-2-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-hotel-img"
            class="image"
            src="img/aboutHotel/slider/hotel-services-2-tab-x.jpg"
            alt="сервіс готелю"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-3-desk-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-3-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-3-tab-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-3-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-3-mob-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-3-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-hotel-img"
            class="image"
            src="img/aboutHotel/slider/hotel-services-3-tab-x.jpg"
            alt="сервіс готелю"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
      <div class="slider-item">
        <picture>
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-4-desk-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-4-desk-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-4-tab-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-4-tab-2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              img/aboutHotel/slider/hotel-services-4-mob-x.jpg  1x,
              img/aboutHotel/slider/hotel-services-4-mob-2x.jpg 2x
            "
            media="(min-width: 414px)"
          />
          <img
            class="about-hotel-img"
            class="image"
            src="img/aboutHotel/slider/hotel-services-4-tab-x.jpg"
            alt="сервіс готелю"
            sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, (min-width: 414px) 245px, 80vw"
          />
        </picture>
      </div>
    </div>
    <div class="slider-buttons-block">
      <button class="next-arrow__about-hotel">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="prev-arrow__about-hotel">
        <svg class="slider-arrow" width="32px" height="32px">
          <use href="img/symbol-defs.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
