<section class="container container-about-rest">
  <div class="about-rest-text-block">
    <p class="about-rest-slogan">Amet minim mollit non</p>
    <h2 class="title about-rest-title">MIMIHO</h2>
    <p class="about-rest-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
  <div class="image-thumb image-thumb-rest-interier">
    <img
      srcset="
        ../img/aboutRestaraunt/about-restaurant-mob-1-x.jpg   445w,
        ../img/aboutRestaraunt/about-restaurant-mob-1-2x.jpg  890w,
        ../img/aboutRestaraunt/about-restaurant-tab-1-x.jpg   400w,
        ../img/aboutRestaraunt/about-restaurant-tab-1-2x.jpg  800w,
        ../img/aboutRestaraunt/about-restaurant-desk-1-x.jpg  460w,
        ../img/aboutRestaraunt/about-restaurant-desk-1-2x.jpg 980w
      "
      sizes=" (min-width: 1024px) 400px, (min-width: 1280px) 460px, 445px"
      src="../img/aboutRestaraunt/about-restaurant-mob-1-x.jpg"
      alt="інтер'єр ресторану"
    />
  </div>
  <div class="rest-hall-block">
    <div class="image-thumb">
      <img
        srcset="
          ../img/aboutRestaraunt/about-restaurant-mob-2-x.jpg   200w,
          ../img/aboutRestaraunt/about-restaurant-mob-2-2x.jpg  400w,
          ../img/aboutRestaraunt/about-restaurant-tab-2-x.jpg   350w,
          ../img/aboutRestaraunt/about-restaurant-tab-2-2x.jpg  700w,
          ../img/aboutRestaraunt/about-restaurant-desk-2-x.jpg  460w,
          ../img/aboutRestaraunt/about-restaurant-desk-2-2x.jpg 980w
        "
        sizes="200px, (min-width: 1024px) 350px, (min-width: 1280px) 460px"
        src="../img/aboutRestaraunt/about-restaurant-mob-2-x.jpg"
        alt="зал ресторану"
      />
    </div>
    <p class="rest-hall-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
  </div>
</section>
