<section class="container contacts__container">
  <div class="left-column">
    <h2 class="title cont-title">mimino</h2>
    <p class="contacts__subtitle">Ресторанно-готельний комплекс</p>

    <div class="item__cont">
      <span class="item__name">Ресторан</span>
      <div class="item__tel-box">
        <a href="tel:+380955559533" class="tel">
          <svg class="contacts-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#phone"></use>
          </svg>
          095 555 95 33
        </a>
      </div>
    </div>
    <div class="item__cont">
      <span class="item__name">Готель</span>
      <div class="item__tel-box">
        <a href="tel:+380668491089" class="tel">
          <svg class="contacts-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#phone"></use>
          </svg>
          066 849 10 89
        </a>
        <a href="tel:+0672758540" class="tel"> 067 275 85 40 </a>
      </div>
    </div>
    <a
      href="https://goo.gl/maps/C7ectr22jE6Sy3CU9"
      class="adress-map-link adress"
      target="_blank"
      rel="noopener noreferrer nofollow"
      ><svg class="adress__icon" width="24px" height="24px">
        <use href="img/symbol-defs.svg#location"></use>
      </svg>
      <p class="adress__text">
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15
      </p></a
    >
  </div>
  <div class="frame__wrap">
    <iframe
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.5308421769873!2d34.5265463!3d49.59919399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e1!3m2!1sru!2sua!4v1670849654407!5m2!1sru!2sua"
      style="border: 0"
      allowfullscreen="true"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
