<section>
  <div class="container hero-container">
    <a
      href="https://goo.gl/maps/C7ectr22jE6Sy3CU9"
      class="adress-map-link"
      target="_blank"
      rel="noopener noreferrer nofollow"
      ><span
        ><svg class="adress__icon" width="20px" height="20px">
          <use href="img/symbol-defs.svg#location"></use></svg></span
      >Україна, м. Полтава,<br />
      вул. Маршала Бірюзова, 15</a
    >
    <div class="hero-title-block">
      <h1 class="title hero-title">mimino</h1>
      <p class="hero-text">Ресторанно-готельний комплекс</p>
      <p class="hero-slogan">СМАК ЖИТТЯ 24/7</p>
    </div>
    <div class="button-block hero-button-block">
      <button class="button hero-button" type="button">
        Забронювати столик
      </button>
      <button class="button hero-button" type="button">
        Забронювати номер
      </button>
    </div>
    <ul class="social-media social-media-hero">
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a href="#">
          <svg class="social-icon" width="24px" height="24px">
            <use href="img/symbol-defs.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
