<section class="container hotel-details">
  <div class="hotel-ditails-title-block">
    <h2 class="title">mimino</h2>
    <h3>Ресторан</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>
<div class="slider-and-buttons-wrap">
    <div class="hotel-details-slider-wrap">
    <div class="slider-hotel-details">
     <div class="slider-item-hotel-details">
         <img                   class="image "
         srcset="
            img/hotelDetails/slider/main-hotel-ditails-tab-x.jpg  1x,
              img/hotelDetails/slider/main-hotel-ditails-tab-2x.jpg 2x
            "
            src="img/hotelDetails/slider/main-hotel-ditails-tab-x.jpg"
            alt="Номер"
                     />
            </div>
         <div class="slider-item-hotel-details">
         <img                   class="image"
         srcset="
            img/hotelDetails/slider/main-hotel-ditails2-tab-x.jpg  1x,
              img/hotelDetails/slider/main-hotel-ditails2-tab-2x.jpg 2x
            "
            src="img/hotelDetails/slider/main-hotel-ditails2-tab-x.jpg"
            alt="Рісепшен"
                     />
            </div>
             <div class="slider-item-hotel-details">
         <img                   class="image"
         srcset="
            img/hotelDetails/slider/main-hotel-ditails3-tab-x.jpg  1x,
              img/hotelDetails/slider/main-hotel-ditails3-tab-2x.jpg 2x
            "
            src="img/hotelDetails/slider/main-hotel-ditails3-tab-x.jpg.jpg"
            alt="М'ясна страва"
                     />
            </div>
      </div>
 <div class="slider-buttons-block__hotel-details">
  <button class="next-arrow__hotel-details">
    <svg class="slider-arrow" width="32px" height="32px">
      <use href="img/symbol-defs.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="prev-arrow__hotel-details">
    <svg class="slider-arrow" width="32px" height="32px">
      <use href="img/symbol-defs.svg#arrow-right"></use>
    </svg>
  </button>
</div>
    </div>
      <div class="button-block hotel-details-button-block">
    <button class="button hotel-details-button btn-js" data-modal="room" type="button">
      Забронювати номер
    </button>
    <button class="button hotel-details-button btn-js" data-modal="prices" type="button">
      Переглянути ціни
    </button>
  </div>
  </div>

</div>
</section>
