<section class="container restaurant-details">
  <div class="rest-ditails-title-block">
    <h2 class="title">mimino</h2>
    <h3>Ресторан</h3>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
  </div>
<div class="slider-and-buttons-wrap">
    <div class="rest-details-slider-wrap">
    <div class="slider-rest-details">
     <div class="slider-item-rest-details">
         <img                   class="image "
         srcset="
            img/restaurantDetails/slider/dish3-desk-x.jpg  1x,
              img/restaurantDetails/slider/dish3-desk-2x.jpg 2x
            "
            src="img/restaurantDetails/slider/dish3-desk-x.jpg"
            alt="М'ясна страва"
                     />
            </div>
         <div class="slider-item-rest-details">
         <img                   class="image"
         srcset="
            img/restaurantDetails/slider/dish2-desk-x.jpg  1x,
              img/restaurantDetails/slider/dish2-desk-2x.jpg 2x
            "
            src="img/restaurantDetails/slider/dish2-desk-x.jpg"
            alt="М'ясна страва"
                     />
            </div>
             <div class="slider-item-rest-details">
         <img                   class="image"
         srcset="
            img/restaurantDetails/slider/dish1-desk-x.jpg  1x,
              img/restaurantDetails/slider/dish1-desk-2x.jpg 2x
            "
            src="img/restaurantDetails/slider/dish1-desk-x.jpg"
            alt="М'ясна страва"
                     />
            </div>
      </div>
 <div class="slider-buttons-block__rest-details">
  <button class="next-arrow__rest-details">
    <svg class="slider-arrow" width="32px" height="32px">
      <use href="img/symbol-defs.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="prev-arrow__rest-details">
    <svg class="slider-arrow" width="32px" height="32px">
      <use href="img/symbol-defs.svg#arrow-right"></use>
    </svg>
  </button>
</div>
    </div>
      <div class="button-block rest-details-button-block">
    <button class="button rest-details-button" type="button">
      Забронювати столик
    </button>
    <button class="button rest-details-button" type="button">
      Переглянути меню
    </button>
  </div>
  </div>

</div>
</section>
