/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('../fonts/style.css');
@import url('./variables.css');
@import url('./component/container.css');
@import url('./component/section-title-block.css');
@import url('./component/button-block.css');
@import url('./component/social-media.css');
@import url('./component/slider-button-block.css');
@import url('./component/image-thumb.css');
@import url('./common/header.css');
@import url('./main/hero.css');
@import url('./main/about-rest.css');
@import url('./main/rest-details.css');
@import url('./main/about-hotel.css');
@import url('./main/hotel-details.css');
@import url('./main/contacts-section.css');
@import url('./common/footer.css');
@import url('./restaraunt/hero.css');
@import url('./restaraunt/menu.css');
@import url('./hotel/hero.css');
@import url('./hotel/double-lux.css');
@import url('./hotel/triple.css');
@import url('./hotelRoom/hotel-room.css');
@import url('./hotelRoom/description.css');

:root {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--buttonTextColor);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
