/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('../fonts/style.css');
@import url('./variables.css');
@import url('./component/container.css');
@import url('./component/social-media.css');
@import url('./common/header.css');
@import url('./main/hero.css');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  /* line-height: 24px; */
  font-weight: 600;
  color: var(--buttonTextColor);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}
