.title {
  font-family: 'Film P3';
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.section__sub-title {
  margin-bottom: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--lightSectionPreTitleColor);
}
.section__text {
  color: var(--lightSectionTextColor1);
}
@media (min-width: 1024px) {
  .title {
    font-size: 64px;
  }
  .section__sub-title {
    font-size: 32px;
  }
}
