.social-media {
  display: flex;
  gap: 20px;
}
.social-icon {
  fill: var(--buttonTextColor);
  transition: fill var(--transition);
}
.social-icon:active,
.social-icon:hover,
.social-icon:focus {
  fill: var(--lightSectionTextColor2);
}
